@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.topo{
  background-color: #c3cfd9;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topo h1{
  font-family: Roboto;
  font-size: 34px;
  color: #E8833A;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
  background-color: red;
  margin-top: 40px;
  color: #293845;
}

.container-filme{
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin: 0 auto;
}

.container-filme img {
  width: 130px;
  height: 190px;
}